* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #272e35;
  line-height: 1;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 20px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:hover {
  color: #579aff;
}

.button--primary {
  color: white;
  background-color: #579aff;
}

.button--primary:hover {
  background-color: #f1c1aa;
}

.button--outline {
  border: 1px solid;
  color: #579aff;
}

.button--outline:hover {
  color: #f1c1aa;
}

.block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 85px;
}

.block-caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.block-caption:before {
  left: 0;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}

.block-caption:after {
  right: 0;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
}

.block-caption:before, .block-caption:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}

.block-caption--left {
  padding-left: 40px;
  margin-bottom: 30px;
}

.block-caption--left:after {
  display: none;
}

.block-caption--left:before {
  -webkit-transform: none;
          transform: none;
}

.block-heading {
  font-size: 50px;
  line-height: 1.4;
}

.block-heading span {
  display: block;
}

.text {
  font-weight: 300;
  line-height: 1.6;
}

.header {
  padding-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: block;
  margin-right: 180px;
}

.header-auth {
  margin-left: auto;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-menu-item:not(:first-child) {
  margin-left: 75px;
}

.header-menu-link {
  color: #272e35;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header-menu-link:hover {
  color: #579aff;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.banner-info {
  width: 35%;
}

.banner-image {
  width: 65%;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.banner-heading {
  font-size: 55px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.banner-heading span {
  display: block;
}

.banner-desc {
  color: #272e35;
  margin-bottom: 50px;
}

.banner-links .button:first-child {
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.work {
  padding-top: 145px;
  padding-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-item {
  width: calc(33.33% - 46.67px);
  padding: 40px 30px;
  border: 1px solid #eee;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
}

.work-more {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-item:hover .work-more {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}

.work-image {
  margin-bottom: 35px;
  max-height: 115px;
}

.work-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.work-desc {
  font-weight: 300;
  margin-bottom: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0 160px;
}

.intro > * {
  width: 50%;
}

.intro-content {
  padding-right: 130px;
}

.intro-desc {
  margin-bottom: 30px;
  margin-top: 40px;
}

.plan {
  padding-bottom: 100px;
}

.plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan-item {
  border: 1px solid #eee;
  border-radius: 20px;
  width: calc(33.33% - 30px);
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.plan-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
}

.plan-item:hover .plan-start {
  background-color: #579aff;
  color: white;
}

.plan-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.plan-price {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.plan-symbol {
  vertical-align: top;
}

.plan-month {
  font-size: 40px;
  font-weight: 500;
}

.plan-desc {
  margin-bottom: 35px;
}

.plan-feature {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 600;
}

.plan-feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #818a92;
  margin-bottom: 25px;
  font-weight: 300;
}

.plan-feature-item:last-of-type {
  margin-bottom: 75px;
}

.plan-feature-icon {
  font-size: 20;
  margin-right: 10px;
}

.plan-start {
  margin: auto auto 0;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: capitalize;
}

.plan-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: #ff858d;
  color: white;
  text-transform: capitalize;
  border-radius: 0 20px 0 20px;
  font-size: 14px;
}

.client {
  padding-bottom: 100px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 45px 25px;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.client-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
}

.client-item:not(:first-child) {
  margin-left: 70px;
}

.client-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 25px;
}

.client-name {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.client-position {
  color: #818a92;
  font-size: 14px;
  display: block;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.client-content {
  color: #818a92;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}

.client-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-rate i {
  margin: 0 5px;
  color: #ffcb46;
}
/*# sourceMappingURL=index.css.map */