* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #272e35;
  line-height: 1;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 20px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
}

.button:hover {
  color: #579aff;
}

.button--primary {
  color: white;
  background-color: #579aff;
}

.button--primary:hover {
  background-color: #f1c1aa;
}

.button--outline {
  border: 1px solid;
  color: #579aff;
}

.button--outline:hover {
  color: #f1c1aa;
}

.block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 85px;
}

.block-caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.block-caption:before {
  left: 0;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}

.block-caption:after {
  right: 0;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
}

.block-caption:before, .block-caption:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}

.block-caption--left {
  padding-left: 40px;
  margin-bottom: 30px;
}

.block-caption--left:after {
  display: none;
}

.block-caption--left:before {
  -webkit-transform: none;
          transform: none;
}

.block-heading {
  font-size: 50px;
  line-height: 1.4;
}

.block-heading span {
  display: block;
}

.text {
  font-weight: 300;
  line-height: 1.6;
}

.header {
  padding-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: block;
  margin-right: 180px;
}

.header-auth {
  margin-left: auto;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-menu-item:not(:first-child) {
  margin-left: 75px;
}

.header-menu-link {
  color: #272e35;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header-menu-link:hover {
  color: #579aff;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.banner-info {
  width: 35%;
}

.banner-image {
  width: 65%;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.banner-heading {
  font-size: 55px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.banner-heading span {
  display: block;
}

.banner-desc {
  color: #272e35;
  margin-bottom: 50px;
}

.banner-links .button:first-child {
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.work {
  padding-top: 145px;
  padding-bottom: 50px;
}

.work-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
}

.work-item {
  padding: 40px 30px;
  border: 1px solid #ffd6d6;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
}

.work-more {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-item:hover .work-more {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}

.work-image {
  margin-bottom: 35px;
  max-height: 115px;
}

.work-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.work-desc {
  font-weight: 300;
  margin-bottom: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0 160px;
}

.intro > * {
  width: 50%;
}

.intro-content {
  padding-right: 130px;
}

.intro-desc {
  margin-bottom: 30px;
  margin-top: 40px;
}
/*# sourceMappingURL=index.css.map */